
<%- include('../inc/header-user.ejs') %>
<div style="margin-top: 100px; margin-left: 300px; margin-right: auto; text-align: center;">
  <div>

    <h1 style="font-weight: bold; color: black;">Chi tiết đơn hàng</h1>
    
    <div style="border: 1px solid #ccc; padding: 20px; max-width: 1200px; margin: auto; text-align: center; margin-top: 40px;">
      
      <% try { %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Tên người mua</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Thành tiền</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < data.product.length; i++) { %>
          <tr>
            <% if (i === 0) { %>
            <td rowspan="<%= data.product.length %>"><%= data._id %></td>
            <td rowspan="<%= data.product.length %>"><%= data.username %></td>
            <td rowspan="<%= data.product.length %>"><%= data.phone %></td>
            <td rowspan="<%= data.product.length %>"><%= data.address %></td>
            <% } %>
            <td><%= data.product[i].name %></td>
            <td><%= data.product[i].quantity %></td>
            <td><%= data.product[i].price %></td>
            <td><%= data.product[i].quantity * data.product[i].price %></td>
          </tr>
          <% } %>
        </tbody>
      </table>

      <div style="margin-top: 20px; text-align: right;">
        <p style="font-weight: bold; color: black; font-size: 17px;"><strong>Tổng cộng:</strong> <%= data.totalPrice %></p>
      </div>
      
      <% } catch (error) { %>
      <p style="color: red;">Đã xảy ra lỗi khi tải chi tiết đơn hàng.</p>
      <% console.error(error); %>
      <% } %>

    </div>
  </div>
</div>
<%- include('../inc/footer.ejs') %>

